article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
display: block;
}

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
time,
thead,
tr,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	color: inherit;
	text-decoration: none;
	vertical-align: baseline;
}

html,
body {
	height: 100%;
}

body {
	font: normal normal normal 14px/1.2 sans-serif;
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-weight: normal;
	font-style: italic;
}

i:lang(ja),
em:lang(ja) {
	font-weight: normal;
	font-style: inherit;
    text-emphasis: filled circle;
	-webkit-text-emphasis: filled circle;
	-moz-text-emphasis: filled circle;
	-ms-text-emphasis: filled circle;
	-o-text-emphasis: filled circle;
	text-emphasis-position: above right;
	-webkit-text-emphasis-position: above right;
	-moz-text-emphasis-position: above right;
	-ms-text-emphasis-position: above right;
	-o-text-emphasis-position: above right;
}


p {
	text-align: justify;
}

ol,ul{
	list-style: none;
	list-style-position: inside;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

ins{
	text-decoration: none;
}

del{
	text-decoration: line-through;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-selection{
	background-color: #e0d8d0;
}

::-moz-selection{
	background-color: #e0d8d0;
}

::-o-selection{
	background-color: #e0d8d0;
}

::selection {
	background-color: #e0d8d0;
}
