#navbar-iframe,
#Navbar1.widget.Navbar
{
    position:absolute !important;
    top:-100px !important;
    display:none !important;
}

footer div#Attribution1 {
    position:absolute !important;
    display:none !important;
}