@import "dimensions";

body {
	min-width: $full-width;
	max-width:100%;
}

#header {
    margin:0 $gap;
}

body,
#header,
#content,
#footer {
	width: 100%;
}

#main {
	width: $full-width;
	margin: 0 auto;
}

#header,
#content,
#footer {
	clear: both;
}

#header,
#content,
#colright,
#col2,
#footer {
	float: left;
}

#content,
#colright,
#col1wrap,
#col1,
#col2 {
	position: relative;
}

#content,
#col1 {
	overflow: hidden;
}

#colright {
	left: $sidebar-width + $gap + $gap;
	width: 200%;
}

#col1wrap {
	right: $sidebar-width + $gap + $gap;
	float: right;
	width: 50%;
}

#col1 {
	margin-left: $sidebar-width + $gap + $gap;
	right: 100%;
}

#col2{
	width: $sidebar-width;
	right: $sidebar-width + $gap;
}

#footer {
	text-align: center;
}
