body {
	color:#222;
	background-color:#eee;
}

/* LINKS */
a:link,
a:visited {
	color: #28B;
	font-weight: bold;
}

a:hover {
	text-decoration:underline;
	color: #3AF;
}

/* HEADER */
#header {
    padding-bottom:24px;
}
#header h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow:rgba(0, 0, 0, .1) 0 .08em .06em, rgba(0, 0, 0, .1) 0 0 .0625em, rgba(0, 0, 0, .3) 0 1px .05em, rgba(0, 0, 0, .2) 0 .05em .0625em, rgba(0, 0, 0, 0.25) 0 .0625em .0625em, rgba(0, 0, 0, 0.2) 0 .125em .125em, rgba(0, 0, 0, 0.15) 0 .25em .25em;
}
#header h1 a:link,
#header h1 a:visited,
#header h1 a:hover {
    text-decoration: none;
    color: inherit;
}
#header p {
    font-size: 24px;
}


aside h1 {
    border-bottom:1px solid #000;
    font-size: 11px;
    font-weight: bolder;
}

aside .PageList .widget-content ul {
    margin:10px 0;
    padding:0;
}

aside .PageList .widget-content li {
    display:block;
    margin-bottom:3px;
}

aside .PageList .widget-content a {
    display: block;
    padding: 10px 10px 10px 25px;
    border: 1px solid transparent;
    color: #111;
    font-size: 14px;
    text-decoration: none;
    background-clip: padding-box;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #e8e8e8;
    -webkit-transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
aside .PageList .widget-content a:hover,
aside .PageList .widget-content li.selected a,
aside .PageList .widget-content a:focus
{
    outline:0;
    background-color:#fff;
    border-color:#000;
    box-shadow:0px 1px 6px #333;
}

aside .PageList .widget-content li.selected a {
    color: #fff;
    border-color: #111;
    background-color: #333;
    text-shadow: 0 0 3px #fff;
}


h1.comments-prefix:after {
    content:' comments';
}
h1.comments-prefix[data-comment-count='1']:after {
    content:' comment';
}
h1.comments-prefix[data-comment-count='0'] {
    display:none;
}


.shadowy {text-shadow:rgba(0, 0, 0, .1) 0 .08em .06em, rgba(0, 0, 0, .1) 0 0 .0625em, rgba(0, 0, 0, .3) 0 1px .05em, rgba(0, 0, 0, .2) 0 .05em .0625em, rgba(0, 0, 0, 0.25) 0 .0625em .0625em, rgba(0, 0, 0, 0.2) 0 .125em .125em, rgba(0, 0, 0, 0.15) 0 .25em .25em}