.expand > div {
	position: relative;
	padding-bottom: 50%;
	padding-top: 6%;
	height: 0;
	overflow: hidden;
}

.expand {
    max-width: 100%;
	margin:5px auto;
	-moz-box-shadow:0px 2px 8px #111;
	-webkit-box-shadow:0px 2px 8px #111;
	box-shadow:0px 2px 8px #111;
}

.expand.small {
    clear:left;
    float:left;
    margin-right: 15px;
    width:50%;
}

.expand > div > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
